In [3]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.svm import SVR
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import itertools
from scipy.stats import spearmanr, pearsonr
#from lifelines.utils import concordance_index
#from mapie.regression import MapieRegressor
from joblib import parallel_backend
from pathlib import Path
from sklearn.model_selection import train_test_split
import pickle


#parameter_path= Path("/Users/huiyan/Library/CloudStorage/OneDrive-UniversityofHelsinki/PhD project/CK2ab-3rd/Intergrative active/redeal/7th/bioactivity/parameter")
#plot_path= Path("/Users/huiyan/Library/CloudStorage/OneDrive-UniversityofHelsinki/PhD project/CK2ab-3rd/Intergrative active/redeal/7th/bioactivity/plot")
data_path = Path("C:\\Users\\Localadmin_weikaixi\\OneDrive - University of Helsinki\\Private\\ying\\TSanalysis")

In [4]:
df_dataset = pd.read_csv(data_path/"IC50_formodel_fp_standard.csv",sep = ",")
df_dataset

,Unnamed: 0,realsmiles,V2,V3,V4,V5,V6,V7,V8,V9,...,V1022,V1023,V1024,V1025,is_biochemical,is_cell.based,Log10,id,type,value
0,1,[C-]#[N+]c1cnc2c(NC3CC3)nc(Nc3cc(C#N)cc(N4CC(N...,0,1,0,0,0,0,0,0,...,0,0,0,0,NaN,NaN,-0.314898,CHEMBL3699287,IC50,4.842857e-01
1,2,[C-]#[N+]c1cnc2c(NC3CC3)nc(Nc3cc(C#N)cc(N4CCC(...,0,1,0,0,0,0,0,0,...,0,0,0,0,NaN,NaN,0.034571,CHEMBL3699242,IC50,1.082857e+00
2,3,[C-]#[N+]c1cnc2c(NC3CC3)nc(Nc3cc(C#N)cc(N4CCN(...,0,1,0,0,0,0,0,0,...,0,0,0,0,NaN,NaN,0.258364,CHEMBL3699279,IC50,1.812857e+00
3,4,[C-]#[N+]c1cnc2c(NC3CC3)nc(Nc3cc(C#N)cc(N4CCN(...,0,1,0,0,0,0,0,0,...,0,0,0,0,NaN,NaN,-0.592245,CHEMBL3699278,IC50,2.557143e-01
4,5,[C-]#[N+]c1cnc2c(NC3CC3)nc(Nc3cccc(C#N)n3)nn12,0,1,0,0,0,0,0,0,...,0,0,0,0,NaN,NaN,2.040438,CHEMBL3699283,IC50,1.097586e+02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1277,1278,OCCCn1nnc2c(Br)c(Br)c(Br)c(Br)c21,0,0,0,0,0,0,0,0,...,0,1,0,0,NaN,NaN,2.556303,CHEMBL456634,IC50,3.600000e+02
1278,1279,OCCCNc1cc(-c2ccnc(Nc3cccc(OC(F)(F)C(F)F)c3)n2)...,0,1,0,0,0,0,0,1,...,0,0,0,0,NaN,NaN,3.556303,CHEMBL574284,IC50,3.600000e+03
1279,1280,OCCCNCc1ccc(Cl)c(Cl)c1,0,0,0,0,0,0,0,0,...,0,0,0,0,NaN,NaN,6.361728,CHEMBL4225371,IC50,2.300000e+06
1280,1281,OCCn1nnc2c(Br)c(Br)c(Br)c(Br)c21,0,0,0,0,0,0,0,0,...,0,1,0,0,NaN,NaN,3.880242,CHEMBL451155,IC50,7.590000e+03
1281,1282,OCCNc1nc2c(Br)c(Br)c(Br)c(Br)c2[nH]1,0,1,0,0,0,0,1,0,...,0,0,0,0,NaN,NaN,2.431364,CHEMBL375244,IC50,2.700000e+02

In [5]:
df_dataset.rename(columns={"is_cell.based": "is_cellbased"}, inplace=True)
df_dataset

,Unnamed: 0,realsmiles,V2,V3,V4,V5,V6,V7,V8,V9,...,V1022,V1023,V1024,V1025,is_biochemical,is_cellbased,Log10,id,type,value
0,1,[C-]#[N+]c1cnc2c(NC3CC3)nc(Nc3cc(C#N)cc(N4CC(N...,0,1,0,0,0,0,0,0,...,0,0,0,0,NaN,NaN,-0.314898,CHEMBL3699287,IC50,4.842857e-01
1,2,[C-]#[N+]c1cnc2c(NC3CC3)nc(Nc3cc(C#N)cc(N4CCC(...,0,1,0,0,0,0,0,0,...,0,0,0,0,NaN,NaN,0.034571,CHEMBL3699242,IC50,1.082857e+00
2,3,[C-]#[N+]c1cnc2c(NC3CC3)nc(Nc3cc(C#N)cc(N4CCN(...,0,1,0,0,0,0,0,0,...,0,0,0,0,NaN,NaN,0.258364,CHEMBL3699279,IC50,1.812857e+00
3,4,[C-]#[N+]c1cnc2c(NC3CC3)nc(Nc3cc(C#N)cc(N4CCN(...,0,1,0,0,0,0,0,0,...,0,0,0,0,NaN,NaN,-0.592245,CHEMBL3699278,IC50,2.557143e-01
4,5,[C-]#[N+]c1cnc2c(NC3CC3)nc(Nc3cccc(C#N)n3)nn12,0,1,0,0,0,0,0,0,...,0,0,0,0,NaN,NaN,2.040438,CHEMBL3699283,IC50,1.097586e+02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1277,1278,OCCCn1nnc2c(Br)c(Br)c(Br)c(Br)c21,0,0,0,0,0,0,0,0,...,0,1,0,0,NaN,NaN,2.556303,CHEMBL456634,IC50,3.600000e+02
1278,1279,OCCCNc1cc(-c2ccnc(Nc3cccc(OC(F)(F)C(F)F)c3)n2)...,0,1,0,0,0,0,0,1,...,0,0,0,0,NaN,NaN,3.556303,CHEMBL574284,IC50,3.600000e+03
1279,1280,OCCCNCc1ccc(Cl)c(Cl)c1,0,0,0,0,0,0,0,0,...,0,0,0,0,NaN,NaN,6.361728,CHEMBL4225371,IC50,2.300000e+06
1280,1281,OCCn1nnc2c(Br)c(Br)c(Br)c(Br)c21,0,0,0,0,0,0,0,0,...,0,1,0,0,NaN,NaN,3.880242,CHEMBL451155,IC50,7.590000e+03
1281,1282,OCCNc1nc2c(Br)c(Br)c(Br)c(Br)c2[nH]1,0,1,0,0,0,0,1,0,...,0,0,0,0,NaN,NaN,2.431364,CHEMBL375244,IC50,2.700000e+02

In [6]:
X = df_dataset.drop(["Unnamed: 0","realsmiles", "is_biochemical", "Log10", "is_cellbased", "id", "type", "value"],axis=1)
X

,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11,...,V1016,V1017,V1018,V1019,V1020,V1021,V1022,V1023,V1024,V1025
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1277,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1278,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1279,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1280,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1281,0,1,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
y = df_dataset.Log10

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = 0.75, random_state = 0)

In [9]:
X_train=X_train.values
y_train=y_train.values
X_test=X_test.values
y_test=y_test.values

In [10]:
X_train

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 1, 0, ..., 0, 0, 0],
       [0, 1, 0, ..., 0, 0, 0],
       ...,
       [0, 1, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 1, 0, ..., 0, 0, 0]], dtype=int64)

In [15]:

# Function to calculate Tanimoto similarity
def tanimoto_similarity(a, b):
    return np.dot(a, b) / (np.sum(a) + np.sum(b) - np.dot(a, b))

# Function to calculate max Tanimoto similarity for a molecule against a set of molecules
def max_tanimoto(fp, fps):
    return max(tanimoto_similarity(fp, fp_test) for fp_test in fps)

# Calculate max Tanimoto similarity for each molecule in X_train with all molecules in X_test
max_similarities = [max_tanimoto(fp, X_test) for fp in X_train]

# Combine X_train, y_train, and max_similarities together
df = pd.DataFrame(X_train, columns=['FP'+str(i+1) for i in range(X_train.shape[1])])
df['Target'] = y_train
df['Max Similarity'] = max_similarities

# Write out as a csv file
df.to_csv('output.csv', index=False)

In [12]:
df = pd.DataFrame(X_test, columns=['FP'+str(i+1) for i in range(X_test.shape[1])])
df['label'] = y_test
#df['Max Similarity'] = max_similarities

# Write out as a csv file
df.to_csv('testset.csv', index=False)

# a loop to calculate spearman in TS deleting

In [14]:
data_path = Path("C:\\Users\\Localadmin_weikaixi\\OneDrive - University of Helsinki\\Private\\ying\\TSanalysis")
df_dataset = pd.read_csv(data_path/"alltrainingset.csv",sep = ",")
df_dataset=df_dataset.drop(["Max Similarity"],axis=1)
df_dataset

,FP1,FP2,FP3,FP4,FP5,FP6,FP7,FP8,FP9,FP10,...,FP1016,FP1017,FP1018,FP1019,FP1020,FP1021,FP1022,FP1023,FP1024,label
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,-3.732394
1,0,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,-1.301030
2,0,0,0,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,-4.176091
3,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-2.711723
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-4.585607
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
956,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-2.602060
957,0,0,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,-1.477121
958,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,-4.143015
959,0,0,1,0,0,0,0,0,0,0,...,0,0,1,0,1,0,1,0,0,-3.778151
960,0,0,0,0,0,0,0,0,1,1,...,1,0,0,0,0,0,0,1,0,-3.579784

In [15]:
df_testset = pd.read_csv(data_path/"testset.csv",sep = ",")

,FP1,FP2,FP3,FP4,FP5,FP6,FP7,FP8,FP9,FP10,...,FP1016,FP1017,FP1018,FP1019,FP1020,FP1021,FP1022,FP1023,FP1024,label
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-1.799341
1,0,0,0,0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,-3.540455
2,0,0,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,-2.596597
3,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-1.168413
4,0,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,-1.752048
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
316,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-5.041393
317,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-4.924279
318,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,-4.447158
319,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,-2.214844
320,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-2.998259

In [16]:
from sklearn import svm
from scipy.stats import spearmanr

# Separate features and labels
X_train = df_dataset.iloc[:, :1024]  # Use the first 1024 columns as features
y_train = df_dataset.iloc[:, -1]  # Use the last column as the label

X_test = df_testset.iloc[:, :1024]  # Do the same for the test set
y_test = df_testset.iloc[:, -1]

# Initialize SVM model with specified parameters
model = svm.SVR(C=10, gamma=0.01, kernel='rbf')

# Train the model
model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = model.predict(X_test)

# Calculate the Spearman rank correlation coefficient
coef, p = spearmanr(y_test, y_pred)

# Print the coefficient
print("Spearman's correlation coefficient: ", coef)

Spearman's correlation coefficient:  0.8305828852093431

In [17]:
from sklearn import svm
from scipy.stats import spearmanr
from pathlib import Path
import pandas as pd

# Define the data path
data_path = Path("C:\\Users\\Localadmin_weikaixi\\OneDrive - University of Helsinki\\Private\\ying\\TSanalysis")

# List of all your training data files
data_files = ["alltrainingset.csv", "less0_9_540.csv", "less0_8_273.csv", "less0_7_153.csv", "less0_6_100.csv", "less0_5_61.csv", "less0_4_34.csv"]

# Prepare an empty dictionary to store Spearman rank correlation coefficients
spearman_coefficients = {}

# Loop through each file
for file in data_files:
    # Read the data
    df_dataset = pd.read_csv(data_path / file, sep=",")
    df_dataset = df_dataset.drop(["Max Similarity"], axis=1)  # Drop unwanted column

    # Separate features and labels
    X_train = df_dataset.iloc[:, :1024]  # Use the first 1024 columns as features
    y_train = df_dataset.iloc[:, -1]  # Use the last column as the label

    # Initialize SVM model with specified parameters
    model = svm.SVR(C=10, gamma=0.01, kernel='rbf')

    # Train the model
    model.fit(X_train, y_train)

    # Make predictions on the test set
    y_pred = model.predict(X_test)

    # Calculate the Spearman rank correlation coefficient
    coef, p = spearmanr(y_test, y_pred)

    # Store the coefficient in the dictionary
    spearman_coefficients[file] = coef

# Print the coefficients
for file, coef in spearman_coefficients.items():
    print(f"Spearman's correlation coefficient for {file}: {coef}")

Spearman's correlation coefficient for alltrainingset.csv: 0.8305828852093431
Spearman's correlation coefficient for less0_9_540.csv: 0.7729475084203453
Spearman's correlation coefficient for less0_8_273.csv: 0.7081057140991818
Spearman's correlation coefficient for less0_7_153.csv: 0.6220107385347884
Spearman's correlation coefficient for less0_6_100.csv: 0.39247275304692253
Spearman's correlation coefficient for less0_5_61.csv: 0.11762990023272583
Spearman's correlation coefficient for less0_4_34.csv: -0.05902818940068707

# do random delete

In [18]:
data_path = Path("C:\\Users\\Localadmin_weikaixi\\OneDrive - University of Helsinki\\Private\\ying\\TSanalysis")
df_dataset = pd.read_csv(data_path/"alltrainingset.csv",sep = ",")
df_dataset=df_dataset.drop(["Max Similarity"],axis=1)
df_dataset

,FP1,FP2,FP3,FP4,FP5,FP6,FP7,FP8,FP9,FP10,...,FP1016,FP1017,FP1018,FP1019,FP1020,FP1021,FP1022,FP1023,FP1024,label
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,-3.732394
1,0,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,-1.301030
2,0,0,0,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,-4.176091
3,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-2.711723
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-4.585607
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
956,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-2.602060
957,0,0,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,-1.477121
958,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,-4.143015
959,0,0,1,0,0,0,0,0,0,0,...,0,0,1,0,1,0,1,0,0,-3.778151
960,0,0,0,0,0,0,0,0,1,1,...,1,0,0,0,0,0,0,1,0,-3.579784

In [20]:
from sklearn import svm
from scipy.stats import spearmanr
from pathlib import Path
import pandas as pd
import numpy as np

# Define the data path
data_path = Path("C:\\Users\\Localadmin_weikaixi\\OneDrive - University of Helsinki\\Private\\ying\\TSanalysis")

# Read the data
df_dataset = pd.read_csv(data_path / "alltrainingset.csv", sep=",")
df_dataset = df_dataset.drop(["Max Similarity"], axis=1)  # Drop unwanted column

# List of number of rows to keep
rows_to_keep = [540, 273, 153, 100, 61, 34]

# Prepare an empty dictionary to store coefficients for each number of rows
coefficients_dict = {}

# Loop through each number of rows
for rows in rows_to_keep:
    # Prepare an empty list to store coefficients for each run
    coefficients = []

    # Repeat process 20 times
    for _ in range(20):
        # Randomly select rows
        df_sample = df_dataset.sample(n=rows)

        # Separate features and labels
        X_train = df_sample.iloc[:, :1024]  # Use the first 1024 columns as features
        y_train = df_sample.iloc[:, -1]  # Use the last column as the label

        # Initialize SVM model with specified parameters
        model = svm.SVR(C=10, gamma=0.01, kernel='rbf')

        # Train the model
        model.fit(X_train, y_train)

        # Make predictions on the test set
        y_pred = model.predict(X_test)

        # Calculate the Spearman rank correlation coefficient
        coef, p = spearmanr(y_test, y_pred)

        # Store the coefficient in the list
        coefficients.append(coef)

    # Calculate average and standard error of the mean (SEM)
    avg_coef = np.mean(coefficients)
    sem_coef = np.std(coefficients) / np.sqrt(len(coefficients))

    # Store the averages and SEMs in the dictionary
    coefficients_dict[rows] = (avg_coef, sem_coef)

# Print the averages and SEMs
for rows, (avg_coef, sem_coef) in coefficients_dict.items():
    print(f"Number of rows: {rows}")
    print(f"Average Spearman's correlation coefficient: {avg_coef}")
    print(f"Standard Error of the Mean: {sem_coef}")

Number of rows: 540
Average Spearman's correlation coefficient: 0.8046429022259922
Standard Error of the Mean: 0.0026571483977564205
Number of rows: 273
Average Spearman's correlation coefficient: 0.7684422367115498
Standard Error of the Mean: 0.002990875213081534
Number of rows: 153
Average Spearman's correlation coefficient: 0.7261991354002288
Standard Error of the Mean: 0.006195085234484921
Number of rows: 100
Average Spearman's correlation coefficient: 0.7018300937527205
Standard Error of the Mean: 0.006608008973046618
Number of rows: 61
Average Spearman's correlation coefficient: 0.6442685026539812
Standard Error of the Mean: 0.01139897613255513
Number of rows: 34
Average Spearman's correlation coefficient: 0.5463357990100484
Standard Error of the Mean: 0.031635751914847604